<div class="cart-page-wrapper">
  <main class="container py-5" style="padding-top: 100px !important;">
    <div class="row mb-5">
      <div class="col-12 text-white">
        <h1 class="fw-bold cart-title mb-2">Your Gear Bag</h1>
        <p class="text-secondary opacity-75 fs-5">
          You have {{ cartDetails.length }} {{ cartDetails.length === 1 ? 'item' : 'items' }} ready for the next trek.
        </p>
      </div>
    </div>

    <div class="row align-items-start gx-5">
      <div class="col-lg-7 mb-4">
        <ng-container *ngIf="cartDetails.length > 0; else emptyCart">
          <div *ngFor="let item of cartDetails" class="mb-4">
            <app-cart-item
              [item]="item"
              (quantityChange)="onQuantityChange($event)"
              (removeItem)="onRemoveItem($event)"
            >
            </app-cart-item>
          </div>
        </ng-container>

        <div class="mt-5">
          <a routerLink="/" class="continue-shopping-btn d-inline-flex align-items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
            <span>Continue Shopping</span>
          </a>
        </div>
      </div>

      <div class="col-lg-5 sticky-top p-0" style="top: 20px;">
        <app-order-summary
          [subtotal]="subtotal"
          [shippingText]="shippingText"
          [tax]="tax"
          [total]="total"
        >
        </app-order-summary>
      </div>
    </div>
  </main>
</div>

<ng-template #emptyCart>
  <div class="empty-cart-msg p-4 text-center text-secondary rounded-custom">
    Your Gear Bag is empty. Time to gear up!
  </div>
</ng-template>
