<div class="product-page">
  @if(Product){
    <div class="container-custom">
      <div class="product-container">
        <div class="product-gallery-section">
          <app-product-gallery [image]="Product.imageUrl"></app-product-gallery>
        </div>

        <div class="product-details-section">
          <app-product-info [product]="Product"></app-product-info>
        </div>
      </div>

      <div class="related-section">
        <app-related-products [products]="relatedProducts"></app-related-products>
      </div>
    </div>
  }
</div>