<main class="main-container">
  <section class="login-img">
    <img src="Branding.png" alt="login-img" />
  </section>

  <section class="form">
    <div class="form-content">
      <h2>Welcome Back</h2>
      <p>Enter the frozen wilderness to continue your journey.</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
      <div class="inputs-group">
        <label>Email Address</label>
        <div class="input">
          <i class="fa-regular fa-envelope"></i>
          <input type="email" formControlName="email" placeholder="explorer@tripia.com" required />
        </div>
      </div>

      <div class="inputs-group">
        <div class="label-flex">
          <label>Password</label>
        </div>
        <div class="input">
          <i class="fa-solid fa-lock"></i>
          <input type="password" formControlName="password" placeholder="••••••••" id="loginPassword" required />
          <i class="fa-regular fa-eye toggle-pass" (click)="togglePassword('loginPassword')"></i>
        </div>
        <a href="#" class="link-forgot">Forgot?</a>
      </div>

      <div *ngIf="loginError" class="error-msg">Incorrect Data</div>

      <button type="submit" class="btn-submit">Login</button>
    </form>

    <div class="separator">
      <span>Or Connect Via</span>
    </div>
    <div class="social-buttons">
      <button class="google">
        <i class="fa-brands fa-google"></i>
        Google
      </button>

      <button class="apple">
        <i class="fa-brands fa-apple"></i>
        Apple
      </button>
    </div>
    <p class="footer-note">New explorer? <a routerLink="/register">Sign up now</a></p>
  </section>
</main>
