<main class="main-container">
  <section class="form">
    <div class="form-content">
      <h2>Create Account</h2>
      <p>Join the Tripia community for your next adventure.</p>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
      <div class="inputs-group">
        <label>Full Name</label>
        <div class="input">
          <i class="fa-regular fa-user"></i>
          <input type="text" formControlName="fullName" placeholder="Enter your full name" />
        </div>
        <div
          class="error-msg"
          *ngIf="registerForm.get('fullName')?.touched && registerForm.get('fullName')?.invalid"
        >
          Full Name is required.
        </div>
      </div>

      <div class="inputs-group">
        <label>Email Address</label>
        <div class="input">
          <i class="fa-regular fa-envelope"></i>
          <input type="email" formControlName="email" placeholder="explorer@tripia.com" />
        </div>
        <div
          class="error-msg"
          *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid"
        >
          <span *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</span>
          <span *ngIf="registerForm.get('email')?.errors?.['email']">Email must be valid.</span>
        </div>
      </div>

      <div class="inputs-group">
        <label>Password</label>
        <div class="input">
          <i class="fa-solid fa-lock"></i>
          <input type="password" formControlName="password" placeholder="••••••••" id="password" />
          <i class="fa-regular fa-eye toggle-pass" (click)="togglePassword('password')"></i>
        </div>
        <div
          class="error-msg"
          *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid"
        >
          <span *ngIf="registerForm.get('password')?.errors?.['required']"
            >Password is required.</span
          >
          <span *ngIf="registerForm.get('password')?.errors?.['minlength']"
            >Password must be at least 6 characters.</span
          >
        </div>
      </div>

      <div class="inputs-group">
        <label>Confirm Password</label>
        <div class="input">
          <i class="fa-solid fa-lock"></i>
          <input type="password" formControlName="confirmPassword" placeholder="••••••••" id="confirmPassword" />
          <i class="fa-regular fa-eye toggle-pass" (click)="togglePassword('confirmPassword')"></i>
        </div>
        <div
          class="error-msg"
          *ngIf="
            registerForm.get('confirmPassword')?.touched &&
            registerForm.get('confirmPassword')?.invalid
          "
        >
          Confirm Password is required.
        </div>
        <div class="error-msg" *ngIf="passwordMismatch">Passwords do not match.</div>
      </div>

      <button type="submit" class="btn-submit" [disabled]="registerForm.invalid || passwordMismatch">
        Sign Up
      </button>
    </form>

    <div class="separator">
      <span>Or Connect Via</span>
    </div>
    
    <div class="social-buttons">
      <button class="google">
        <i class="fa-brands fa-google"></i>
        Google
      </button>

      <button class="apple">
        <i class="fa-brands fa-apple"></i>
        Apple
      </button>
    </div>
    
    <p class="footer-note">Already have an account? <a routerLink="/login">Login</a></p>
  </section>

  <section class="login-img">
    <img src="Branding.png" alt="register-img" />
  </section>
</main>
