<div class="container py-5 text-white">
  <p class="text-secondary mb-2">Collections</p>

  <h1 class="fw-bold mb-3">Explore Categories</h1>

  <p class="text-muted mb-5" style="max-width: 600px">
    Discover curated gear sets tailored for your favorite outdoor activities, designed for peak
    performance and rugged durability.
  </p>

  <div class="row g-4 justify-content-center">
    @for (cat of categoryService.categories(); track cat.id) {
      <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <div style="width: 350px; height: 250px" class="">
          <app-category-card [category]="cat"> </app-category-card>
        </div>
      </div>
    }
  </div>
</div>
